*{  /*apply to all elements on page*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game{
    background-image: url('/game-screen.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;  /*full screen height*/
    position: relative;
    top: 0px;
    right: 0px
}


button{  /*remove def*/
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: fit-content;  /*shrink button to picture*/
    height: fit-content;
}

button:disabled{
    /*opacity: 0.3;  /*gray out disabled buttons*/
    cursor: not-allowed;
}

.flavour-buttons{
    display: grid;
    grid-template-columns: repeat(3, fit-content(100%));  /*pictures only as wide as its content*/
    gap: 2px 6px;  /*vertical, horizontal*/
    top: 56vh;
    right: 100vh;
    position: absolute;
}

.topping-buttons{
    display: grid;
    grid-template-columns: repeat(3, fit-content(100%));  /*pictures only as wide as its content*/
    gap: 2px 4px;  /*vertical, horizontal*/
    top: 63vh;
    right: 66vh;
    position: absolute;
}

.syrup-buttons{
    display: grid;
    grid-template-columns: repeat(3, fit-content(100%));  /*pictures only as wide as its content*/
    gap: 2px 10px;  /*vertical, horizontal*/
    top: 47vh;
    right: 69vh;
    position: absolute;
}

.cone-buttons{
    display: grid;
    grid-template-columns: repeat(3, fit-content(100%));  /*pictures only as wide as its content*/
    gap: 2px 10px;  /*vertical, horizontal*/
    top: 75vh;
    right: 69.5vh;
    position: absolute;
}

.serve-button{
    background-color: rgb(93, 221, 93);
    color: white;  /*text colour*/
    padding: 30px 30px;  /*vertical, horizontal*/
    font-size: 25px;
    border-radius: 8px;  /*rounded corners*/
    top: 85vh;
    right: 65vh;
    position: absolute;
}

.garbage-button{
    background-color: rgb(221, 93, 93);
    color: white;  /*text colour*/
    padding: 30px 15px;
    font-size: 25px;
    border-radius: 8px;  /*rounded corners*/
    top: 85vh;
    right: 81vh;
    position: absolute;
}

.order-box{
    background-image: url('/speech bubble.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    right: 39vh;
    position: fixed;
    height: 45vh;
    width: 45vh;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 20px;

    animation: slideIn 0.5s ease-out forwards;
}

/*items in the speech bubble*/
.order-box img {
    margin-bottom: -8px;
}

@keyframes slideIn{
    from{
        right: 100vw;  /*slide in from the left side of the screen*/
    }
    to{
        right: 39vh;  /*go back to original position*/
    }
}

.player-order{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: fixed;
    right: 30vh;
    bottom: 18vh;
}

/*items*/
.player-order img {
  margin-bottom: -12px;
}