.home{
    background-image: url('/home screen.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;  /*full screen height*/
    position: relative;
    top: 0px;
    right: 0px
}

.start-button{
    background-color: rgb(117, 200, 241);
    color: white;  /*text colour*/
    padding: 20px 40px;  /*height, width*/
    font-size: 74.5px;
    border-radius: 8px;  /*rounded corners*/
    bottom: 99px;
    right: 257px;
    position: absolute;
}

.home-text{
    position: absolute;
    top: 99px;
    right: 124px;
    font-size: 40px;
    color: rgb(42, 150, 204);
    text-align: center
}

.leaderboard ol{
    list-style-position: inside;
    padding: 0px;
}

.leaderboard li{
    display: flex;
    justify-content: space-between;
    padding: 4px 20px;  /*height width*/
}

.leaderboard{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    height: 621px;
    width: 703px;
    position: absolute;
    top: 99px;
    left: 99px;
    text-align: center;
    font-size: 33px;
}