.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.start-button {
  font-size: 24px;
  padding: 16px 32px;
  color: white;
}